form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

h1 {
  font-size: 4em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.bill-label {
  margin-right: 50px;
}

.tip-label {
  margin-right: 24px;
}
